@import '../../../css/common';

.Aside {
  width: 240px;
  height: calc(100% - 24px);
  box-shadow: $shadow;
  background: $content;
  border-radius: 16px;
  margin-top: 24px;
  position: relative;
}

.Close {
  top: calc(32px - 24px);
  right: -12px;
  position: absolute;
  cursor: pointer;
  transition: all .2s ease;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;

  &.Closed {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    transition: all .2s ease;
  }

  &:hover {
    background: rgba($primary, .7);
  }
}

.Profile {
  padding: 10px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}