@import '../../../css/common';

.Filters {
  display: flex;
  align-items: center;
}

.Info {
  margin-right: 40px;
}

.Title {
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 4px;
}

.Count {
  color: rgba($text, 0.8);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: block;

  b {
    color: $text;
    font-weight: 500;
  }
}