@import '../../../css/common';

.ExperimentPopup {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, .4);
  padding: 40px;
}

.Wrapper {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: $bg;
  box-shadow: $shadow;
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  grid-column-gap: 32px;
  padding: 25px;
}